.searchForm {
  display: flex;
  align-items: center;
  margin: 16px;
}

.inputField {
  margin-right: 8px;
  background-color: #d9d9d9; /* Background color */
  color: black; /* Text color */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.button {
  background-color: #ed2553; /* Green background */
  color: white; /* White text */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Smooth transition for color change */
}

.button:hover {
  opacity: 0.7;
}
